In [27]:
import pandas as pd
import numpy as np
from bert_embedding import BertEmbedding

In [2]:
embedding = BertEmbedding()
sentence = ['hi', 'how', 'are', 'you', 'doing']
output = embedding(sentence)

Vocab file is not found. Downloading.
Downloading /Users/volam/.mxnet/models/book_corpus_wiki_en_uncased-a6607397.zip from https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/gluon/dataset/vocab/book_corpus_wiki_en_uncased-a6607397.zip...
Downloading /Users/volam/.mxnet/models/bert_12_768_12_book_corpus_wiki_en_uncased-75cc780f.zip from https://apache-mxnet.s3-accelerate.dualstack.amazonaws.com/gluon/models/bert_12_768_12_book_corpus_wiki_en_uncased-75cc780f.zip...

In [32]:
def get_BERT_embeddings(summary):
    try:
        e_array = []
        word_embeddings = embedding(summary)
        for i in range(len(word_embeddings)):
            e_array.append(word_embeddings[i][1][0])
        summary_embedding = np.array(e_array).mean(axis = 0)
        return summary_embedding
    except:
        return np.nan

In [31]:
print(get_BERT_embeddings(sentence).shape)

(768,)

In [16]:
books = pd.read_csv('best_books_clustered.csv')
books.head()

,book_id,title,authors,description,average_rating,rating_dist,ratings_count,publication_date,publisher,check_alphabet,check_alternate,vector_description,cluster
0,2767052,"The Hunger Games (The Hunger Games, #1)",[Suzanne Collins],"['In', 'ruins', 'place', 'known', 'North', 'Am...",4.33,5:3147328|4:1755372|3:677503|2:155622|1:82192|...,5610547,"('9', '14', '2008')",Scholastic Press,True,False,[ 1.652681 0.20952849 -0.86027026 0.129425...,2
1,2,Harry Potter and the Order of the Phoenix (Har...,"[J.K. Rowling, Mary GrandPré]","['Harry', 'lot', 'mind', 'fifth', 'year', 'Hog...",4.49,5:1383724|4:572285|3:201775|2:35188|1:11259|to...,2050571,"('9', '1', '2004')",Scholastic Inc.,True,False,[ 1.221313 0.3676932 -0.44352835 0.086147...,2
2,2657,"To Kill a Mockingbird (To Kill a Mockingbird, #1)",[Harper Lee],"['Compassionate', 'dramatic', 'deeply', 'movin...",4.27,5:2099792|4:1198789|3:521455|2:136908|1:72133|...,3840621,"('5', '23', '2006')",Harper Perennial Modern Classics,True,False,[ 1.1900413 0.04988475 -0.84511966 0.40277 ...,0
3,1885,Pride and Prejudice,"[Jane Austen, Anna Quindlen]","['Since', 'immediate', 'success', '1813', 'Pri...",4.25,5:1411008|4:726173|3:334977|2:102109|1:66772|t...,2433246,"('10', '10', '2000')",Modern Library,True,False,[ 1.0052938 0.48644283 -0.46211335 -0.274609...,0
4,41865,"Twilight (Twilight, #1)",[Stephenie Meyer],"['First', 'Edward', 'vampire']",3.59,5:1575937|4:1008263|3:913735|2:496513|1:508478...,4437283,"('9', '6', '2006')","Little, Brown and Company",True,False,[ 0.71836996 0.37861207 0.05439107 -1.979011...,6

In [ ]:
books['BERT_embedding'] = books['description'].apply(lambda x: get_BERT_embeddings(x))